.form {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	width: 100%;
	gap: 30px;
}
.label {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 500;
	color: #f6f6f6;
	font-family: 'DM Sans';
}

.label_text {
	display: block;
	margin-left: 25px;
}

.input {
	margin-top: 10px;
	outline: none;
	padding: 20px 30px;
	transition: all ease-in-out 500ms;
	border-radius: 40px;
	border: 2px solid #f6f6f6;
	background-color: transparent;
	color: #f6f6f6;
	font-family: 'DM Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.18px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.input::placeholder {
	opacity: 0.1;
}

.input:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	border-color: #eac645;
}
.input:focus {
	border-color: #eac645;
}

.btn {
	border-radius: 40px;
	border: none;
	background-color: #f6f6f6;
	padding: 20px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	transition: all ease-in-out 300ms;
	cursor: pointer;
	text-transform: uppercase;
	width: 100%;
	color: #202024;
	font-family: 'DM Sans';
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.18px;
	text-align: center;
}

.btn:hover {
	background-color: #4f2ee8;
	color: #f6f6f6;
}

.error_wrap {
	margin: 0 25px;
	height: 20px;
}
